.content__box-weather {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 15px;
}
.content__box-weather__header {
    border-bottom: 1px solid #ffe9c7;
}
.content__box-weather h1 {
    color: var(--colorTitulo);
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0;
    text-align: center;
}

.content__box-weather__header__box-search {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
.content__box-weather__header__box-search .btn-search {
    background: url(images/ico-search.svg) no-repeat;
    background-size: 100%;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: absolute;
    right: 8px;
    top: 10px;
    transition: opacity 0.5s ease-in-out;
    width: 30px;
}
.content__box-weather__header__box-search .btn-search:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}
.content__box-weather__header__box-search input {
    border: 1px solid #d86c00;
    color: #505050;
    flex: 1 1 auto;
    font-size: 10px;
    font-weight: 500;
    height: 50px;
    padding-left: 20px;
    text-transform: capitalize;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.content__box-weather__header__box-search input:focus{
    box-shadow: 0 0 0 5px rgba(255,255,255,.25);
    outline: 0;
}
.content__box-weather__box-state {
    padding: 0;
}
.content__box-weather__box-state h2 {
    color: var(--colorTitulo);
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;
}
.content__box-weather__box-state .min-max {
    float: left;
    margin-bottom: 20px;
    width: 50%;
}
.content__box-weather__box-state .min-max span {
    font-size: 12px;
    font-weight: 300;
    margin-right: 15px;
}
.content__box-weather__box-state .min-max:first-child span {
    display: none;
    margin-left: 20px;
}
.content__box-weather__box-state .min-max.mobile {
    display: none;
}
.content__box-weather__box-state__list__list-state {
    clear: both;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
.content__box-weather__box-state__list__list-state--list-item {
    margin: 0 0 30px 0;
}
.content__box-weather__box-state__list__list-state--list-item:nth-child(odd){
   
}
.content__box-weather__box-state__list__list-state--list-item a {
    color: #000000;
    cursor: pointer;
    font-weight: 700;
}
.content__box-weather__box-state__list__list-state--list-item span {
    margin-right: 5px;
}

/* Forecast */
.content__box-weather__box-forecast {
    background: #fff2e4;
    box-shadow: 2px 2px 10px #ff8000;
    color: #505050;
    padding: 10px;
    margin: 0 auto 20px auto;
    max-width: 500px;
    position: relative;
    width: 100%;
}
.content__box-weather__box-forecast a {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.content__box-weather__box-forecast a img {
    width: 20px;
}
.content__box-weather__box-forecast h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.content__box-weather__box-forecast h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
}

.content__box-weather__box-forecast__list-conditions {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 20px;
    max-width: 260px;
}

.content__box-weather__box-forecast__list-conditions__condition {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.content__box-weather__box-forecast__list-conditions__condition .min, .content__box-weather__box-forecast__list-conditions__condition .max {
    padding-left: 15px;
    position: relative;
}
.content__box-weather__box-forecast__list-conditions__condition .min:after, .content__box-weather__box-forecast__list-conditions__condition .max:after {
    bottom: 3px;
    content: '';
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    width: 15px;
}
.content__box-weather__box-forecast__list-conditions__condition .min:after{
    background: url(images/ico-arrow.svg) no-repeat;
    background-size: 100%;
    transform: rotateX(180deg);
}
.content__box-weather__box-forecast__list-conditions__condition .max:after{
    background: url(images/ico-arrow.svg) no-repeat;
    background-size: 100%;
}

/* Box Previsão */
.content__box-weather__box-forecast__box-forecast {
    border-top: 1px solid #ffab55;
}
.content__box-weather__box-forecast__box-forecast__list-forecast {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.content__box-weather__box-forecast__box-forecast__list-forecast__forecast {
    font-size: 14px;
}
.content__box-weather__box-forecast__box-forecast__list-forecast__forecast strong {
    color: #505050;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
.content__box-weather__box-forecast__box-forecast__list-forecast__forecast span {
    color: #ff8000;
    font-size: 12px;
    font-weight: 700;
    margin-right: 2px;
}

.content__box-weather__header__box-search .error-city {
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (min-width: 481px) {
    .content__box-weather {
        padding: 0;
    }
    .content__box-weather h1 {
        font-size: 68px;
        margin: 0 0 30px 0;
    }
    .content__box-weather__box-state h2 {
        font-size: 38px;
        text-align: left;
    }
    .content__box-weather__box-state {
        padding: 0 90px;
    }

    .content__box-weather__box-state .min-max.mobile {
        display: block;
    }
    .content__box-weather__box-state__list__list-state {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .content__box-weather__box-state__list__list-state--list-item {
        margin: 0 0 30px 25px;
    }
    .content__box-weather__box-state .min-max span:first-child {
        margin-left: 25px;
    }
    .content__box-weather__header__box-search input {
        font-size: 16px;
    }
    .content__box-weather__header__box-search {
        padding-bottom: 65px;
    }

    .content__box-weather__box-forecast {
        padding: 25px;
    }
    .content__box-weather__box-forecast__box-forecast {
        padding: 0 30px;
    }
    .content__box-weather__box-forecast h3 {
        font-size: 20px;
    }
    .content__box-weather__box-forecast h2 {
        font-size: 50px;
    }
    .content__box-weather__box-forecast__list-conditions__condition {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .content__box-weather__box-forecast__list-conditions__condition .min, .content__box-weather__box-forecast__list-conditions__condition .max {
        padding-left: 20px;
    }
    .content__box-weather__box-forecast__list-conditions__condition .min:after, .content__box-weather__box-forecast__list-conditions__condition .max:after {
        height: 20px;
        width: 20px;
    }
    .content__box-weather__box-forecast__box-forecast__list-forecast__forecast {
        font-size: 16px;
    }
    .content__box-weather__box-forecast__box-forecast__list-forecast__forecast span {
        font-size: 16px;
    }
    .content__box-weather__box-forecast__list-conditions {
        margin-top: 30px;
    }
}