/* Variáveis*/
:root {
  --roboto: 'Roboto', sans-serif;
  --colorTitulo: #ffffff;
}
.clearfix {
  height: 100%;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

*{
  box-sizing: border-box;
  font-family: var(--roboto);
}
html {
  align-items: center;
  display: flex;
  justify-content: center;
}
body {
  background-image: linear-gradient(to bottom, #ff7f00 , #ffbb00);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: opacity 0.8s ease-in-out;
}
a:hover {
  opacity: 0.8;
  transition: opacity 0.8s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-input-placeholder  { 
  color:#a7a7a7;
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 300;
  text-transform: initial;
}
input:-moz-placeholder { 
  color:#a7a7a7;
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 300;
  text-transform: initial;
}

.content {
  padding: 0;
}

@media only screen and (min-width: 481px) {
  .content {
    padding: 20px;
  }
  ::-webkit-input-placeholder  { 
    font-size: 20px;
  }
  input:-moz-placeholder { 
    font-size: 20px;
  }
}